<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kowah.gobye">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/rabbit"
        android:label="荔园云深"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="荔园云深">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity"
            android:label="登录"/>
        <activity android:name=".GobyeActivity"
            android:label="Gobye"/>
        <activity android:name=".CourseActivity"
            android:label="我的课表"/>
        <activity android:name=".DeadlineActivity"
            android:label="我的作业"/>
        <activity android:name=".AccountActivity"
            android:label="账号信息"/>
    </application>

</manifest>